<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dplanicon"
        android:label="dPlan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addingTask">

        </activity>
        <activity android:name=".addingList">

        </activity>
        <activity android:name=".editTask">

        </activity>
        <activity android:name=".editList">

        </activity>
        <activity android:name=".chooseDateTime">

        </activity>
        <activity android:name=".taskListView">

        </activity>
    </application>

</manifest>